* {
  margin: 0 0;
  padding: 0 0;
  cursor: pointer; }

a p {
  font-family: 'Comfortaa', cursive; }

p {
  font-family: 'Comfortaa', cursive; }

h2 {
  font-family: 'Encode Sans SC', sans-serif; }

h3, h4, h5, h6 {
  font-family: 'Genos', sans-serif; }

button, a {
  cursor: grab; }
  button h3, button img, button p, a h3, a img, a p {
    cursor: grab; }

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  cursor: pointer;
  background: rgba(112, 112, 112, 0.05); }

a p {
  font-family: 'Comfortaa', cursive; }

p {
  font-family: 'Comfortaa', cursive; }

h2 {
  font-family: 'Encode Sans SC', sans-serif; }

h3 {
  font-family: 'Genos', sans-serif; }

h4, h5, h6 {
  font-family: 'Fredoka', sans-serif; }

button, a {
  cursor: grab; }
  button h3, button img, button p, a h3, a img, a p {
    cursor: grab; }

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0; }

.navbar {
  position: fixed;
  width: 100%;
  max-width: 1280px;
  top: 0;
  margin: 0 auto;
  padding: 0 0;
  background: white;
  border-bottom: 1px solid rgba(13, 90, 107, 0.6);
  z-index: 10;
  overflow: visible; }
  .navbar .selectdrop {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0;
    cursor: grab;
    overflow: visible; }
    .navbar .selectdrop .nav_link {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 33.3333%;
      height: 1.1rem;
      max-height: 1.1rem;
      margin: 0 0;
      padding: .2rem 0;
      text-decoration: none; }
      .navbar .selectdrop .nav_link .icon {
        height: 15px;
        max-height: 15px;
        margin: .06rem .4rem 0 .2rem;
        background: white;
        border-radius: 3px;
        opacity: 0; }
      .navbar .selectdrop .nav_link .nav_text {
        margin: .06rem 0 0 0;
        color: #1488b3;
        font-size: .65rem;
        font-weight: 400;
        line-height: 16px; }
      .navbar .selectdrop .nav_link .portfolio_icon {
        height: 17px;
        max-height: 17px;
        border-radius: 2px; }
      .navbar .selectdrop .nav_link .linkedin_icon {
        height: 17px;
        max-height: 17px;
        margin: .02rem .4rem 0 .2rem; }
      .navbar .selectdrop .nav_link:hover {
        background: rgba(13, 90, 107, 0.15); }
        .navbar .selectdrop .nav_link:hover .icon {
          opacity: 1;
          transition: opacity .1s ease-in; }
        .navbar .selectdrop .nav_link:hover .nav_text {
          color: #0d5a6b; }
  .navbar .dropdownBackground {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    background: #0c7b85;
    border: 1px solid #707070;
    transition: all .3s, opacity .1s, transform .2s;
    transform-origin: 50% 0;
    z-index: 10; }
    .navbar .dropdownBackground.open {
      opacity: 1; }
    .navbar .dropdownBackground .droparrow {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      display: block;
      background: #0c7b85;
      border-left: 1px solid #707070;
      border-top: 1px solid #707070;
      box-shadow: inset 2px 2px 3px 0 rgba(85, 85, 85, 0.2), inset -2px -2px 3px 0 rgba(85, 85, 85, 0.2);
      transform: translateY(-50%) rotate(45deg);
      z-index: -1; }
  .navbar .dropdown {
    display: block;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    padding: .5rem .8rem;
    top: -3rem;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(86px);
    will-change: opacity;
    display: none;
    z-index: 10; }
    .navbar .dropdown .check_out {
      color: white;
      font-size: .65rem;
      font-weight: 200;
      letter-spacing: .2rem;
      line-height: 1.3rem;
      text-align: center; }
      .navbar .dropdown .check_out span {
        color: #ffb805;
        font-weight: 400;
        text-shadow: none; }
  .navbar .trigger-enter .dropdown {
    display: block; }
  .navbar .trigger-enter-active .dropdown {
    opacity: 1; }

.page_header {
  position: sticky;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0;
  top: 0;
  background: white;
  z-index: 8;
  cursor: grab; }
  .page_header .header_bg {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.8rem 0 0 0;
    background: rgba(112, 112, 112, 0.05); }

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 94%;
  max-width: 94%;
  height: 5.8rem;
  margin: 0 auto;
  padding: 0 0;
  background: rgba(13, 90, 107, 0.3);
  border: 1px solid rgba(13, 90, 107, 0.6);
  box-shadow: inset 2px 2px 3px 0 rgba(85, 85, 85, 0.2), inset -2px -2px 3px 0 rgba(85, 85, 85, 0.2);
  overflow: hidden;
  animation: titleSlideIn 2s ease-in-out; }
  .header_content .header_flex {
    display: flex;
    flex-direction: row;
    width: 96%;
    max-width: 96%;
    height: 4rem;
    margin: 0 0;
    padding: 0 0;
    background: white;
    border: 1px solid rgba(13, 90, 107, 0.6);
    border-right: none;
    box-shadow: -1px -1px 2px 0 rgba(112, 112, 112, 0.2), -1px 1px 2px 0 rgba(112, 112, 112, 0.2); }
    .header_content .header_flex .page_title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 64%;
      margin: 0 0 0 1rem;
      padding: .4rem 0;
      text-align: end;
      letter-spacing: 1px; }
      .header_content .header_flex .page_title .name {
        width: 96%;
        margin: 0 0;
        padding: 0 0;
        color: #0c7b85;
        font-family: 'Jura', sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        text-shadow: 0 0 3px white; }
      .header_content .header_flex .page_title .cv {
        width: 96%;
        margin: 0 0;
        margin: 0 0 0 0;
        padding: 0 0;
        color: #555555;
        font-family: 'Genos', sans-serif;
        font-size: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-shadow: 0 0 3px white; }
    .header_content .header_flex .page_photo {
      margin: 0 0;
      padding: 0 0; }
      .header_content .header_flex .page_photo .myPhoto {
        height: 6.2rem;
        margin: -1.3rem 0 0 0;
        padding: 0 0;
        border: 1px solid #a2a2a2;
        box-shadow: -1px -1px 2px 0 rgba(112, 112, 112, 0.2), -1px 1px 2px 0 rgba(112, 112, 112, 0.2);
        z-index: -1; }
    .header_content .header_flex .page_subtitle {
      display: none;
      width: 30%;
      margin: 0 0 0 1rem;
      padding: .4rem 0;
      text-align: end;
      letter-spacing: 1px; }
      .header_content .header_flex .page_subtitle .cv {
        width: 96%;
        margin: 0 0;
        margin: 0 0 0 0;
        padding: 0 0;
        color: #555555;
        font-family: 'Genos', sans-serif;
        font-size: 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-shadow: 0 0 3px white; }

.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1280px;
  max-height: 1280px;
  margin: 0 auto;
  padding: 0 0;
  border: none;
  overflow: scroll; }

.section_box,
.pop_up {
  flex-direction: column;
  align-items: flex-end;
  width: 94%;
  max-width: 94%;
  height: 180px;
  max-height: 180px;
  margin: 0 auto 0.6% auto;
  padding: 1rem 0 1rem 0;
  letter-spacing: 1px;
  background: rgba(112, 112, 112, 0.06);
  border: 1px solid rgba(13, 90, 107, 0.6);
  border-top: none;
  box-shadow: inset 2px 2px 3px 0 rgba(85, 85, 85, 0.2), inset -2px -2px 3px 0 rgba(85, 85, 85, 0.2);
  overflow: scroll;
  z-index: 5; }

.section_box {
  animation: fadeIn 1.5s forwards;
  opacity: 0; }

.section_title {
  width: 96%;
  max-width: 96%;
  margin: .2rem 0 .4rem 0;
  padding: 0 0; }
  .section_title h2 {
    margin: 0 0 0 .6rem;
    color: #0c7b85;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-align: left; }

.chapters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  max-width: 96%;
  margin: .4rem 0 .2rem 0;
  padding: .4rem 0;
  color: #555555;
  background: white;
  border: 1px solid rgba(12, 123, 133, 0.4);
  border-right: none;
  box-shadow: -1px -1px 2px 0 rgba(112, 112, 112, 0.2), -1px 1px 2px 0 rgba(112, 112, 112, 0.2); }
  .chapters .chapter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 94%;
    max-width: 94%;
    margin: .4rem 0 .4rem 0;
    padding: .4rem 0 .4rem 0; }
    .chapters .chapter .chapter_title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 72%;
      max-width: 72%;
      margin: 0 auto;
      padding: .2rem 0; }
      .chapters .chapter .chapter_title h3 {
        min-width: 100%;
        max-width: 100%;
        color: #555555;
        font-size: 1.3rem;
        font-weight: 600; }
    .chapters .chapter .chapter_button {
      min-width: 26%;
      max-width: 26%;
      margin: 0 auto;
      padding: .2rem 0; }
      .chapters .chapter .chapter_button button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
        max-width: 100%;
        height: 1.8rem;
        color: #484848;
        background: rgba(13, 90, 107, 0.5);
        background: linear-gradient(180deg, rgba(13, 90, 107, 0.48) 0%, rgba(12, 123, 133, 0.44) 35%, rgba(12, 123, 133, 0.44) 70%, rgba(13, 90, 107, 0.48) 100%);
        border: 1px solid rgba(12, 123, 133, 0.4);
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0 rgba(85, 85, 85, 0.3), -1px -1px 2px 0 rgba(85, 85, 85, 0.3); }
      .chapters .chapter .chapter_button p {
        margin: 0 .2rem .1rem .4rem;
        font-family: 'Genos', sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1px; }
      .chapters .chapter .chapter_button img {
        width: 1.4rem;
        height: .8rem;
        margin: 0 .4rem 0 0;
        padding: 0 0; }
    .chapters .chapter:hover .chapter_title h3 {
      color: #0c9ea8; }
    .chapters .chapter:hover .chapter_button button {
      color: white;
      background: #0d5a6b;
      background: linear-gradient(180deg, #0d5a6b 0%, #0c7b85 35%, #0c7b85 70%, #0d5a6b 100%);
      border: 1px solid rgba(13, 90, 107, 0.6);
      border-radius: 5px;
      box-shadow: 1px 1px 2px 0 rgba(85, 85, 85, 0.3), -1px -1px 2px 0 rgba(85, 85, 85, 0.3); }

.pop_up {
  padding: 1rem 0 1rem 0;
  animation: fadeIn 1.5s forwards;
  overflow: scroll; }

.popup_window {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 0 auto;
  padding: 0 0; }
  .popup_window .title_box {
    display: flex;
    justify-content: space-between;
    width: 96%;
    max-width: 96%;
    margin: 0 0;
    padding: 0 0; }
    .popup_window .title_box .chapters_title {
      margin: 0 0 0 .4rem;
      color: #0c7b85;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 2px; }
    .popup_window .title_box .close_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 1.8rem;
      width: 1.8rem;
      margin: 0 .8rem .8rem 0;
      padding: 0 0;
      color: white;
      background: #0d5a6b;
      background: linear-gradient(180deg, #0d5a6b 0%, #0c7b85 35%, #0c7b85 70%, #0d5a6b 100%);
      border: 1px solid rgba(13, 90, 107, 0.6);
      border-radius: 5px;
      box-shadow: 1px 1px 2px 0 rgba(85, 85, 85, 0.3), -1px -1px 2px 0 rgba(85, 85, 85, 0.3); }
      .popup_window .title_box .close_button button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 1.8rem;
        width: 1.8rem;
        outline: none;
        background: transparent;
        border: none; }
        .popup_window .title_box .close_button button .close_x {
          width: 1.2rem;
          height: 1.2rem;
          opacity: .8; }
      .popup_window .title_box .close_button:hover {
        color: #484848;
        background: rgba(13, 90, 107, 0.5);
        background: linear-gradient(180deg, rgba(13, 90, 107, 0.48) 0%, rgba(12, 123, 133, 0.44) 35%, rgba(12, 123, 133, 0.44) 70%, rgba(13, 90, 107, 0.48) 100%);
        border: 1px solid rgba(12, 123, 133, 0.4);
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0 rgba(85, 85, 85, 0.3), -1px -1px 2px 0 rgba(85, 85, 85, 0.3); }
  .popup_window .chapter_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    width: 96%;
    max-width: 96%;
    margin: 0 0;
    padding: .4rem 0 .6rem 0;
    color: #555555;
    background: white;
    border: 1px solid rgba(13, 90, 107, 0.6);
    border-right: none;
    box-shadow: -1px -1px 2px 0 rgba(112, 112, 112, 0.2), -1px 1px 2px 0 rgba(112, 112, 112, 0.2); }
  .popup_window .contact_box,
  .popup_window .aboutme_box,
  .popup_window .hobbies_box,
  .popup_window .skills_box,
  .popup_window .softSkills_box,
  .popup_window .languages_box,
  .popup_window .webSchool_box,
  .popup_window .artSchool_box,
  .popup_window .work_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    max-width: 100%;
    margin: .4rem auto .2rem auto;
    padding: 0 0 0 0; }
  .popup_window .chapter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 96%;
    max-width: 96%;
    margin: 0 0;
    padding: 0 0 0 0; }
    .popup_window .chapter .section_title {
      width: 100%;
      max-width: 100%;
      margin: .2rem 0 0 0;
      padding: .3rem 0; }
      .popup_window .chapter .section_title h3 {
        margin: 0 0;
        padding: 0 0 0 .4rem;
        color: #555555;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 2px; }
    .popup_window .chapter .section {
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      max-width: 100%;
      margin: 0 0 .6rem 0;
      padding: .8rem 0;
      color: #555555;
      background: white;
      border: 1px solid rgba(13, 90, 107, 0.6);
      border-right: none;
      box-shadow: inset 2px 2px 3px 0 rgba(85, 85, 85, 0.2), inset -2px -2px 3px 0 rgba(85, 85, 85, 0.2); }
  .popup_window .contact_box .chapter .section .duo_flex {
    display: flex;
    flex-direction: column;
    width: 94%;
    max-width: 94%;
    margin: .2rem auto;
    padding: 0 0; }
  .popup_window .contact_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    margin: 0 0;
    padding: 0 0; }
  .popup_window .contact_box .chapter .section .mail,
  .popup_window .contact_box .chapter .section .phone,
  .popup_window .contact_box .chapter .section .linkedin,
  .popup_window .contact_box .chapter .section .portfolio {
    margin: .8rem 0 0 0; }
  .popup_window .contact_box .chapter .section .sub_title {
    width: 5rem;
    max-width: 5rem;
    margin: 0 0 .4rem 0;
    color: #0c7b85;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px; }
  .popup_window .contact_box .chapter .section .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 1.8rem;
    margin: 0 0;
    padding: 0 0; }
    .popup_window .contact_box .chapter .section .btn button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 100%;
      height: 1.8rem;
      margin: 0 0;
      padding: 0 0;
      outline: none;
      color: #484848;
      background: rgba(13, 90, 107, 0.5);
      background: linear-gradient(180deg, rgba(13, 90, 107, 0.48) 0%, rgba(12, 123, 133, 0.44) 35%, rgba(12, 123, 133, 0.44) 70%, rgba(13, 90, 107, 0.48) 100%);
      border: 1px solid rgba(12, 123, 133, 0.4);
      border-radius: 5px;
      box-shadow: 1px 1px 2px 0 rgba(85, 85, 85, 0.3), -1px -1px 2px 0 rgba(85, 85, 85, 0.3); }
      .popup_window .contact_box .chapter .section .btn button a {
        width: 100%;
        height: 1.8rem;
        padding: .3rem 0 0 0;
        color: #555555;
        font-family: 'Comfortaa', cursive;
        font-size: .8rem;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.1rem;
        text-align: center;
        text-decoration: none; }
    .popup_window .contact_box .chapter .section .btn:hover button {
      color: white;
      background: #0d5a6b;
      background: linear-gradient(180deg, #0d5a6b 0%, #0c7b85 35%, #0c7b85 70%, #0d5a6b 100%);
      border: 1px solid rgba(13, 90, 107, 0.6);
      border-radius: 5px;
      box-shadow: 1px 1px 2px 0 rgba(85, 85, 85, 0.3), -1px -1px 2px 0 rgba(85, 85, 85, 0.3); }
      .popup_window .contact_box .chapter .section .btn:hover button a {
        color: white; }
  .popup_window .contact_box .chapter .section .phone_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 1.8rem;
    margin: 0 0;
    padding: 0 0; }
    .popup_window .contact_box .chapter .section .phone_button .gsm {
      width: 50%;
      max-width: 50%; }
      .popup_window .contact_box .chapter .section .phone_button .gsm button {
        border-right: 1px solid rgba(13, 90, 107, 0.6);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }
    .popup_window .contact_box .chapter .section .phone_button .home {
      width: 50%;
      max-width: 50%; }
      .popup_window .contact_box .chapter .section .phone_button .home button {
        border-left: none;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; }
  .popup_window .contact_box .chapter .section .text_box {
    display: flex;
    flex-direction: column;
    margin: 0 0; }
    .popup_window .contact_box .chapter .section .text_box p {
      margin: 0 .4rem .2rem 0; }
  .popup_window .contact_box .chapter .section .phones {
    flex-direction: row; }
  .popup_window .aboutme_box .chapter .section .content {
    display: flex;
    flex-direction: row;
    width: 94%;
    max-width: 94%;
    margin: 0 auto;
    padding: .4rem 0; }
    .popup_window .aboutme_box .chapter .section .content .text_box {
      width: 100%;
      max-width: 100%;
      padding: .3rem 0; }
      .popup_window .aboutme_box .chapter .section .content .text_box .text_part {
        margin: .2rem 0;
        color: #707070;
        font-family: 'Comfortaa', cursive;
        font-weight: 400;
        font-size: .9rem;
        line-height: 1.1rem;
        text-align: justify; }
      .popup_window .aboutme_box .chapter .section .content .text_box .alinea {
        height: .4rem; }
  .popup_window .hobbies_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
    max-width: 94%;
    margin: 0 auto;
    padding: .4rem 0; }
  .popup_window .hobbies_box .chapter .section .hobby_list {
    list-style: none;
    margin: 0 0; }
    .popup_window .hobbies_box .chapter .section .hobby_list li {
      display: flex;
      flex-direction: row;
      margin: .3rem 0; }
      .popup_window .hobbies_box .chapter .section .hobby_list li .list_square {
        width: .5rem;
        height: .5rem;
        margin: .425rem .5rem 0 0;
        border: 1px solid rgba(13, 90, 107, 0.6);
        border-radius: 3px; }
      .popup_window .hobbies_box .chapter .section .hobby_list li .list_text {
        margin: .2rem 0 .4rem 0;
        color: #707070;
        font-family: 'Comfortaa', sans-serif;
        font-size: .9rem;
        font-weight: 400;
        text-align: left;
        line-height: 1.1rem; }
  .popup_window .skills_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
    max-width: 94%;
    margin: 0 auto .2rem auto;
    padding: .4rem 0; }
  .popup_window .skills_box .chapter .section .sub_title {
    width: 100%;
    max-width: 100%;
    margin: 0 0 .1rem 0;
    color: #0c7b85;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px; }
  .popup_window .skills_box .chapter .section .text_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: .2rem 0 .6rem 0;
    padding: .2rem 0 .6rem 0;
    border-top: 1px solid rgba(12, 123, 133, 0.4); }
    .popup_window .skills_box .chapter .section .text_box .text_part {
      margin: .3rem 0 .4rem 0;
      color: #707070;
      font-family: 'Comfortaa', sans-serif;
      font-size: .8rem;
      font-weight: 400;
      text-align: left; }
    .popup_window .skills_box .chapter .section .text_box .skills_list {
      list-style: none; }
      .popup_window .skills_box .chapter .section .text_box .skills_list li {
        display: flex;
        flex-direction: row;
        margin: .3rem 0; }
        .popup_window .skills_box .chapter .section .text_box .skills_list li .list_square {
          width: .5rem;
          height: .5rem;
          margin: .6rem .5rem 0 0;
          border: 1px solid rgba(13, 90, 107, 0.6);
          border-radius: 3px; }
        .popup_window .skills_box .chapter .section .text_box .skills_list li .list_text {
          margin: .2rem 0 .4rem 0;
          color: #707070;
          font-family: 'Comfortaa', sans-serif;
          font-size: .8rem;
          font-weight: 400;
          text-align: left;
          line-height: 1.3rem; }
  .popup_window .skills_box .chapter .section .design_text {
    margin: .2rem 0 0 0;
    padding: .2rem 0 0 0; }
  .popup_window .softSkills_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
    max-width: 94%;
    margin: .4rem auto;
    padding: .4rem 0; }
  .popup_window .softSkills_box .chapter .section .skills_list {
    list-style: none;
    color: #555555;
    margin: .2rem 0 0 0; }
    .popup_window .softSkills_box .chapter .section .skills_list li {
      display: flex;
      flex-direction: row;
      margin: 0 0; }
      .popup_window .softSkills_box .chapter .section .skills_list li .list_square {
        width: .5rem;
        height: .5rem;
        margin: .6rem .5rem 0 0;
        border: 1px solid rgba(13, 90, 107, 0.6);
        border-radius: 3px; }
      .popup_window .softSkills_box .chapter .section .skills_list li .list_text {
        margin: .2rem 0 .4rem 0;
        color: #707070;
        font-family: 'Comfortaa', sans-serif;
        font-size: .9rem;
        font-weight: 400;
        text-align: left;
        line-height: 1.3rem; }
  .popup_window .languages_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 94%;
    max-width: 94%;
    margin: .4rem auto;
    padding: .4rem 0; }
  .popup_window .languages_box .chapter .section .languages_table {
    width: 96%;
    max-width: 50rem;
    margin: 0 0 0 .75%;
    border-collapse: collapse; }
    .popup_window .languages_box .chapter .section .languages_table th, .popup_window .languages_box .chapter .section .languages_table td {
      width: 33%; }
      .popup_window .languages_box .chapter .section .languages_table th p, .popup_window .languages_box .chapter .section .languages_table td p {
        margin: 0 auto;
        text-align: center; }
    .popup_window .languages_box .chapter .section .languages_table th {
      border-bottom: 1px solid rgba(13, 90, 107, 0.4); }
      .popup_window .languages_box .chapter .section .languages_table th p {
        padding: 0 0 .3rem 0;
        color: #0c7b85;
        font-family: 'Fredoka', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-align: center; }
    .popup_window .languages_box .chapter .section .languages_table td p {
      padding: .3rem 0 0 0;
      color: #707070;
      font-family: 'Comfortaa', sans-serif;
      font-size: .8rem;
      font-weight: 400;
      text-align: center; }
    .popup_window .languages_box .chapter .section .languages_table .middle {
      border-right: 1px solid rgba(128, 128, 128, 0.24);
      border-left: 1px solid rgba(128, 128, 128, 0.24); }
  .popup_window .webSchool_box .chapter .section .content,
  .popup_window .artSchool_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    width: 94%;
    max-width: 94%;
    margin: 0 auto .2rem auto;
    padding: .4rem 0; }
  .popup_window .webSchool_box .chapter .section .encora,
  .popup_window .webSchool_box .chapter .section .online,
  .popup_window .artSchool_box .chapter .section .encora,
  .popup_window .artSchool_box .chapter .section .online {
    margin: .8rem auto; }
  .popup_window .webSchool_box .chapter .section .sub_title_box,
  .popup_window .artSchool_box .chapter .section .sub_title_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%; }
    .popup_window .webSchool_box .chapter .section .sub_title_box .sub_title,
    .popup_window .artSchool_box .chapter .section .sub_title_box .sub_title {
      width: 100px;
      max-width: 100px;
      margin: .15rem 0 0 0;
      color: #707070;
      font-size: .8rem;
      font-weight: 400;
      text-align: left;
      letter-spacing: 1px; }
    .popup_window .webSchool_box .chapter .section .sub_title_box .school_name,
    .popup_window .artSchool_box .chapter .section .sub_title_box .school_name {
      width: 62%;
      max-width: 62%;
      color: #0c7b85;
      font-size: 1rem;
      font-weight: 500;
      text-align: left; }
  .popup_window .webSchool_box .chapter .section .text_box,
  .popup_window .artSchool_box .chapter .section .text_box {
    width: 100%;
    max-width: 100%;
    margin: .3rem 0 .4rem 0;
    padding: .6rem 0 .4rem 0;
    color: #707070;
    font-family: 'Comfortaa', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    border-top: 1px solid rgba(12, 123, 133, 0.4); }
  .popup_window .artSchool_box .chapter .section .sub_title_box {
    flex-direction: column; }
    .popup_window .artSchool_box .chapter .section .sub_title_box .sub_title {
      width: 100%;
      max-width: 100%; }
    .popup_window .artSchool_box .chapter .section .sub_title_box .school_name {
      width: 100%;
      max-width: 100%;
      margin: .2rem 0 0 0; }
  .popup_window .work_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    width: 94%;
    max-width: 94%;
    margin: .3rem auto; }
  .popup_window .work_box .chapter .section .editor {
    margin: 1.2rem auto; }
  .popup_window .work_box .chapter .section .sub_title_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%; }
    .popup_window .work_box .chapter .section .sub_title_box .sub_title {
      width: 100%;
      max-width: 100%;
      margin: 0 0 .1rem 0;
      color: #707070;
      font-size: .8rem;
      font-weight: 400;
      letter-spacing: 2px; }
    .popup_window .work_box .chapter .section .sub_title_box .work_name {
      width: 100%;
      max-width: 100%;
      color: #0c7b85;
      font-size: 1rem;
      font-weight: 400;
      text-align: left; }
  .popup_window .work_box .chapter .section .text_box {
    width: 100%;
    max-width: 100%;
    margin: .3rem 0 .4rem 0;
    padding: .6rem 0 .4rem 0;
    border-top: 1px solid rgba(12, 123, 133, 0.4); }
    .popup_window .work_box .chapter .section .text_box .text_part {
      width: 100%;
      max-width: 100%;
      color: #707070;
      font-family: 'Comfortaa', sans-serif;
      font-size: .86rem;
      font-weight: 400;
      text-align: left;
      line-height: 1.25rem; }
    .popup_window .work_box .chapter .section .text_box .work_list {
      width: 96%;
      max-width: 96%;
      list-style: none;
      color: #555555;
      margin: .4rem 0 0 0; }
      .popup_window .work_box .chapter .section .text_box .work_list li {
        display: flex;
        flex-direction: row;
        margin: 0 0; }
        .popup_window .work_box .chapter .section .text_box .work_list li .list_square {
          width: .5rem;
          height: .5rem;
          margin: .425rem .5rem 0 0;
          border: 1px solid rgba(13, 90, 107, 0.6);
          border-radius: 3px; }
        .popup_window .work_box .chapter .section .text_box .work_list li .list_text {
          margin: .2rem 0 .4rem 0;
          color: #707070;
          font-family: 'Comfortaa', sans-serif;
          font-size: .9rem;
          font-weight: 400;
          text-align: left;
          line-height: 1.2rem; }

.box_visible {
  display: flex; }

.box_hidden {
  display: none; }

@keyframes titleSlideIn {
  0% {
    transform: translateY(-180px); }
  10% {
    transform: translateY(-180px); }
  100% {
    transform: translateY(0px); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media (min-width: 375px) {
  .navbar .selectdrop .nav_link .nav_text {
    font-size: .75rem; } }
@media (min-width: 568px) {
  .page_header .header_content {
    flex-direction: row;
    justify-content: flex-end;
    height: 4.4rem; }
    .page_header .header_content .header_flex {
      height: 2.8rem; }
      .page_header .header_content .header_flex .page_title {
        flex-direction: row;
        width: 56%;
        max-width: 56%;
        margin: 0 0 0 1.2rem; }
        .page_header .header_content .header_flex .page_title .name {
          padding: .2rem .7rem .3rem 0;
          font-size: 1.45rem;
          font-weight: 800; }
        .page_header .header_content .header_flex .page_title .cv {
          display: none; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 5rem; }
      .page_header .header_content .header_flex .page_subtitle {
        display: inline-block;
        width: 26%;
        max-width: 26%;
        text-align: start; }
        .page_header .header_content .header_flex .page_subtitle .cv {
          margin: .5rem .3rem 0 -.1rem;
          font-size: 1.2rem;
          font-weight: 500; }

  .mainpage .section_box {
    margin: 5% auto 5% auto; } }
@media (min-width: 667px) {
  .page_header .header_content {
    height: 4.8rem; }
    .page_header .header_content .header_flex {
      height: 3rem; }
      .page_header .header_content .header_flex .page_title {
        width: 58%;
        max-width: 58%;
        margin: 0 0 0 1.2rem; }
        .page_header .header_content .header_flex .page_title .name {
          padding: .2rem .9rem .3rem 0;
          font-size: 1.6rem;
          font-weight: 800; }
        .page_header .header_content .header_flex .page_title .cv {
          display: none; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 5.4rem; }
      .page_header .header_content .header_flex .page_subtitle {
        width: 24%;
        max-width: 24%; }
        .page_header .header_content .header_flex .page_subtitle .cv {
          margin: .3rem 0 0 0;
          font-size: 1.4rem; }

  .mainpage .section_box {
    margin: 5% auto 5% auto; }

  .mainpage .contact_box .chapter .section .duo_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 94%;
    max-width: 94%;
    margin: .4rem auto .2rem auto; }
  .mainpage .contact_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: .6rem auto 0 auto; }
  .mainpage .contact_box .chapter .section .address {
    margin: 0 auto; }
    .mainpage .contact_box .chapter .section .address .text_box {
      flex-direction: row; }
      .mainpage .contact_box .chapter .section .address .text_box .text_part {
        margin: 0 .8rem 0 0; }
  .mainpage .contact_box .chapter .section .mail, .mainpage .contact_box .chapter .section .phone, .mainpage .contact_box .chapter .section .linkedin, .mainpage .contact_box .chapter .section .portfolio {
    width: 48%;
    max-width: 48%;
    margin: 0 1rem 0 0; }
  .mainpage .work_box .chapter .section .content .sub_title_box {
    flex-direction: row; }
    .mainpage .work_box .chapter .section .content .sub_title_box .sub_title {
      width: 110px;
      max-width: 110px;
      margin: .2rem 0 0 0; }
    .mainpage .work_box .chapter .section .content .sub_title_box .work_name {
      width: 70%;
      max-width: 70%; } }
@media (min-width: 684px) {
  .navbar .selectdrop .nav_link {
    justify-content: center; }
    .navbar .selectdrop .nav_link .nav_text {
      font-size: .95rem; }

  .page_header .header_content .header_flex .page_title {
    width: 60%;
    max-width: 60%; }
  .page_header .header_content .header_flex .page_subtitle {
    width: 22%;
    max-width: 22%; }

  .mainpage .webSchool_box .chapter .section .content .sub_title_box {
    width: 100%;
    max-width: 20rem; }
  .mainpage .webSchool_box .chapter .section .content .sub_title {
    width: 40%;
    max-width: 100px; }
  .mainpage .artSchool_box .chapter .section .content .sub_title_box {
    flex-direction: row;
    width: 100%;
    max-width: 100%; }
  .mainpage .artSchool_box .chapter .section .content .sub_title {
    width: 31%;
    max-width: 100px; }
  .mainpage .artSchool_box .chapter .section .content .school_name {
    width: 69%;
    margin: 0 0; } }
@media (min-width: 768px) {
  .page_header .header_content .header_flex .page_title {
    width: 62%;
    max-width: 62%; }
  .page_header .header_content .header_flex .page_subtitle {
    width: 20%;
    max-width: 20%; } }
@media (min-width: 800px) {
  .mainpage .aboutme_box .chapter .section .content .text_box .text_part {
    line-height: 1.2rem; }
  .mainpage .skills_box .chapter .section .content {
    flex-direction: row;
    padding: .4rem 0 .4rem 0;
    border-bottom: 1px solid rgba(13, 90, 107, 0.2); }
  .mainpage .skills_box .chapter .section .web, .mainpage .skills_box .chapter .section .design {
    margin: .8rem auto .2rem auto; }
  .mainpage .skills_box .chapter .section .design {
    border: none; }
  .mainpage .skills_box .chapter .section .sub_title {
    width: 190px;
    max-width: 190px; }
  .mainpage .skills_box .chapter .section .text_box {
    width: 70%;
    max-width: 70%;
    margin: 0 0;
    padding: 0 0 0 0;
    border: none; }
    .mainpage .skills_box .chapter .section .text_box .skills_list li {
      margin: 0 0 .3rem 0; }
  .mainpage .skills_box .chapter .section .systems .text_box {
    margin: 0 0 0 .1rem; } }
@media (min-width: 844px) {
  .page_header .header_content .header_flex .page_title {
    width: 64%;
    max-width: 64%; }
    .page_header .header_content .header_flex .page_title .name {
      width: 96%;
      padding: 0 .9rem .3rem 0;
      font-size: 1.8rem;
      font-weight: 800; }
  .page_header .header_content .header_flex .page_subtitle {
    width: 18%;
    max-width: 18%; } }
@media (min-width: 926px) {
  .page_header .header_content .header_flex .page_title {
    width: 72%;
    max-width: 72%; }
  .page_header .header_content .header_flex .page_subtitle {
    width: 19%;
    max-width: 19%; } }
@media (min-width: 984px) {
  .page_header .header_content .header_flex .page_title {
    width: 73%;
    max-width: 73%; }
  .page_header .header_content .header_flex .page_subtitle {
    width: 18%;
    max-width: 18%; } }
@media (min-width: 1024px) {
  .navbar .selectdrop .nav_link .nav_text {
    font-size: .8rem;
    letter-spacing: 1px; }

  .page_header .header_content {
    height: 6rem; }
    .page_header .header_content .header_flex {
      height: 3.4rem; }
      .page_header .header_content .header_flex .page_title {
        width: 75%;
        max-width: 75%; }
        .page_header .header_content .header_flex .page_title .name {
          padding: .3rem 1.2rem .3rem 0; }
      .page_header .header_content .header_flex .page_photo .myPhoto {
        height: 6.7rem;
        margin: -1.7rem 0 0 0; }
      .page_header .header_content .header_flex .page_subtitle {
        width: 18%;
        max-width: 18%; }
        .page_header .header_content .header_flex .page_subtitle .cv {
          margin: .7rem 0 0 .4rem; }

  .mainpage .contact_box .chapter .section .duo_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 94%;
    max-width: 94%;
    margin: .4rem auto .2rem auto; }
  .mainpage .contact_box .chapter .section .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: .6rem auto 0 auto; }
  .mainpage .contact_box .chapter .section .address {
    margin: 0 auto; }
    .mainpage .contact_box .chapter .section .address .text_box {
      flex-direction: row; }
      .mainpage .contact_box .chapter .section .address .text_box .text_part {
        margin: 0 .8rem 0 0; }
  .mainpage .contact_box .chapter .section .mail, .mainpage .contact_box .chapter .section .phone, .mainpage .contact_box .chapter .section .linkedin, .mainpage .contact_box .chapter .section .portfolio {
    width: 48%;
    max-width: 48%;
    margin: 0 1rem 0 0; }
  .mainpage .aboutme_box .chapter .section .content .text_box .text_part {
    font-size: .95rem;
    line-height: 1.3rem; }
  .mainpage .hobbies_box .chapter .section .content .hobby_list li .list_text {
    font-size: .95rem; }
  .mainpage .skills_box .chapter .section .content .sub_title {
    font-size: 1.05rem; }
  .mainpage .skills_box .chapter .section .content .text_box .text_part {
    font-size: .95rem; }
  .mainpage .skills_box .chapter .section .content .text_box .skills_list .list_text {
    font-size: .95rem; }
  .mainpage .softSkills_box .chapter .section .content .skills_list .list_text {
    font-size: .95rem;
    line-height: 1.4rem; }
  .mainpage .languages_box .chapter .section .content .languages_table th p {
    font-size: 1.1rem; }
  .mainpage .languages_box .chapter .section .content .languages_table td p {
    font-size: .95rem; }
  .mainpage .webSchool_box .chapter .section .content .sub_title_box .sub_title {
    width: 116px;
    max-width: 116px;
    font-size: 1rem; }
  .mainpage .webSchool_box .chapter .section .content .sub_title_box .school_name {
    width: 170px;
    max-width: 170px;
    font-size: 1rem; }
  .mainpage .webSchool_box .chapter .section .content .text_box {
    width: 100%;
    max-width: 100%;
    font-size: .95rem;
    line-height: 1.3rem; }
  .mainpage .artSchool_box .chapter .section .content .sub_title_box {
    flex-direction: row; }
    .mainpage .artSchool_box .chapter .section .content .sub_title_box .sub_title {
      width: 116px;
      max-width: 116px;
      font-size: 1rem; }
    .mainpage .artSchool_box .chapter .section .content .sub_title_box .school_name {
      width: 60%;
      max-width: 60%;
      margin: 0 0;
      font-size: 1rem; }
  .mainpage .artSchool_box .chapter .section .content .text_box {
    width: 100%;
    margin: .3rem 0 0 0;
    font-size: .95rem; }
  .mainpage .work_box .chapter .section .content .sub_title_box .sub_title {
    font-size: .9rem; }
  .mainpage .work_box .chapter .section .content .sub_title_box .work_name {
    font-size: 1.1rem; }
  .mainpage .work_box .chapter .section .content .text_box .text_part {
    font-size: .95rem;
    line-height: 1.35rem; }
  .mainpage .work_box .chapter .section .content .text_box .work_list li .list_text {
    font-size: .95rem;
    line-height: 1.35rem; } }
@media (min-width: 1216px) {
  .page_header .header_content .header_flex .page_title {
    width: 80%;
    max-width: 80%; }
  .page_header .header_content .header_flex .page_subtitle {
    width: 16%;
    max-width: 16%; } }
@media (min-width: 1280px) {
  .navbar {
    background: white; }
    .navbar .selectdrop {
      border-right: 1px solid rgba(140, 163, 163, 0.4);
      border-left: 1px solid rgba(140, 163, 163, 0.4); }

  .page_header .header_content .header_flex .page_title {
    width: 80%;
    max-width: 80%; }
  .page_header .header_content .header_flex .page_subtitle {
    width: 15%;
    max-width: 15%; }
    .page_header .header_content .header_flex .page_subtitle .cv {
      margin: .8rem 0 0 .4rem; }

  .mainpage .artSchool_box .chapter .section .content {
    flex-direction: row; }
    .mainpage .artSchool_box .chapter .section .content .sub_title_box {
      flex-direction: row;
      width: 440px;
      max-width: 440px; }
      .mainpage .artSchool_box .chapter .section .content .sub_title_box .sub_title {
        width: 116px;
        max-width: 116px;
        font-size: 1rem; }
      .mainpage .artSchool_box .chapter .section .content .sub_title_box .school_name {
        width: 316px;
        max-width: 316px;
        margin: 0 0;
        font-size: 1rem; }
    .mainpage .artSchool_box .chapter .section .content .text_box {
      width: 40%;
      max-width: 40%;
      margin: .3rem 0 0 0;
      font-size: .95rem;
      padding: 0 0 0 .8rem;
      border: none;
      text-align: left;
      border-left: 1px dotted rgba(112, 112, 112, 0.68); } }
@media (min-width: 1282px) {
  .navbar {
    border-right: 1px solid rgba(13, 90, 107, 0.6);
    border-left: 1px solid rgba(13, 90, 107, 0.6);
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px; }
    .navbar .selectdrop {
      border-bottom-right-radius: 28px;
      border-bottom-left-radius: 28px;
      overflow: hidden; } }
@media (min-height: 320px) {
  .mainpage .section_box, .mainpage .pop_up {
    height: 180px;
    max-height: 180px;
    margin: 0 auto 0 auto; } }
@media (min-height: 360px) {
  .mainpage .section_box, .mainpage .pop_up {
    height: 212px;
    max-height: 212px;
    margin: 0 auto 0 auto; } }
@media (min-height: 375px) {
  .mainpage .section_box, .mainpage .pop_up {
    height: 224px;
    max-height: 224px;
    margin: 0 auto 0 auto; } }
@media (min-height: 384px) {
  .mainpage .section_box, .mainpage .pop_up {
    height: 230px;
    max-height: 230px;
    margin: 0 auto 0 auto; } }
@media (min-height: 390px) {
  .page_header .header_bg {
    padding: 2rem 0 0 0; }

  .mainpage .section_box, .mainpage .pop_up {
    height: 235px;
    max-height: 235px;
    margin: 0 auto 0 auto; } }
@media (min-height: 414px) {
  .page_header .header_bg {
    padding: 2.2rem 0 0 0; }

  .mainpage .section_box, .mainpage .pop_up {
    height: 255px;
    max-height: 255px;
    margin: 0 auto 0 auto; } }
@media (min-height: 428px) {
  .mainpage .section_box, .mainpage .pop_up {
    height: 250px;
    max-height: 250px;
    margin: 0 auto 0 auto; } }
@media (min-height: 500px) {
  .mainpage .section_box {
    height: 310px;
    max-height: 310px;
    margin: 1% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); }
  .mainpage .pop_up {
    height: 320px;
    max-height: 320px;
    margin: 0 auto 0 auto; } }
@media (min-height: 568px) {
  .mainpage .section_box {
    height: 310px;
    max-height: 310px;
    margin: 3% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); }
  .mainpage .pop_up {
    height: 375px;
    max-height: 375px;
    margin: 1% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 600px) {
  .mainpage .section_box {
    height: 320px;
    max-height: 320px;
    margin: 3% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); }
  .mainpage .pop_up {
    height: 390px;
    max-height: 390px;
    margin: 1% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 667px) {
  .mainpage .section_box {
    margin: 5% auto 0 auto; }
  .mainpage .pop_up {
    height: 457px;
    max-height: 457px;
    margin: 1.5% auto 0 auto; } }
@media (min-height: 768px) {
  .mainpage .section_box {
    padding: 2rem 0;
    margin: 6% auto 0 auto; }
  .mainpage .pop_up {
    height: 550px;
    max-height: 550px;
    margin: 1.5% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 800px) {
  .page_header .header_bg {
    padding: 2.5rem 0 0 0; }

  .mainpage .pop_up {
    height: 570px;
    max-height: 570px;
    margin: 2% auto 20 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 810px) {
  .mainpage .pop_up {
    height: 580px;
    max-height: 580px;
    margin: 2% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 844px) {
  .mainpage .section_box {
    margin: 10% auto 0 auto; }
  .mainpage .pop_up {
    height: 620px;
    max-height: 620px;
    margin: 2% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 896px) {
  .mainpage .pop_up {
    height: 660px;
    max-height: 660px;
    margin: 2% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 900px) {
  .page_header .header_bg {
    padding: 2.8rem 0 0 0; }

  .mainpage .pop_up {
    height: 660px;
    max-height: 660px;
    margin: 2% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 960px) {
  .mainpage .section_box {
    margin: 10% auto 0 auto; }
  .mainpage .pop_up {
    height: 728px;
    max-height: 728px;
    margin: 2% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 1024px) {
  .page_header .header_bg {
    padding: 3.2rem 0 0 0; }

  .mainpage .section_box {
    margin: 12% auto 0 auto; }
  .mainpage .pop_up {
    min-height: 770px;
    max-height: 770px;
    margin: 2% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 1080px) {
  .page_header .header_bg {
    padding: 3.2rem 0 0 0; }

  .mainpage .section_box {
    margin: 12% auto 0 auto; }
  .mainpage .pop_up {
    min-height: 827px;
    max-height: 827px;
    margin: 2% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 1280px) {
  .page_header .header_bg {
    padding: 3.4rem 0 0 0; }

  .mainpage .section_box {
    margin: 15% auto 0 auto; }
  .mainpage .pop_up {
    min-height: 922px;
    max-height: 922px;
    margin: 5% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }
@media (min-height: 1366px) {
  .mainpage .pop_up {
    min-height: 922px;
    max-height: 922px;
    margin: 10% auto 0 auto;
    border-top: 1px solid rgba(13, 90, 107, 0.6); } }

/*# sourceMappingURL=stylesheet_cv.css.map */
