* {
  margin: 0 0;
  padding: 0 0; }

body {
  width: 90%;
  margin: auto;
  padding: 2% 5%;
  background: #e8e8e8; }

.pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  margin: 0 0;
  padding: .4rem 5% .45rem 5%;
  color: #1c5a6b;
  font-family: 'Jura', sans-serif;
  background: #e6e6e6;
  border-bottom: 1px solid #e1e1e1;
  z-index: 1; }
  .pageHeader .name {
    padding: 0 0 .1rem 0;
    font-size: 1rem;
    font-weight: 600; }
  .pageHeader .lineUnder {
    width: 100%;
    height: 1px;
    background: rgba(18, 98, 120, 0.6); }
  .pageHeader .function {
    padding: .1rem 0 0 0;
    font-size: .55rem;
    font-weight: 600;
    text-align: right; }

.headerSmall {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;
  margin: 7rem 0 0 0;
  padding: .4rem 0;
  color: #585858;
  font-family: 'Glory', sans-serif;
  line-height: 1.4rem;
  border-right: 1px solid #d4d4d4; }
  .headerSmall .company {
    width: 100%;
    padding: 0 3% 2% 3%;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: right; }
  .headerSmall .firmAddress,
  .headerSmall .firmTown {
    width: 100%;
    padding: 0 3%;
    color: #969696;
    font-size: .9rem;
    font-weight: 300;
    text-align: right; }
  .headerSmall .tav {
    width: 100%;
    padding: 3% 3% 0 0;
    font-size: .9rem;
    font-weight: 300;
    text-align: right; }
    .headerSmall .tav span {
      font-size: .8rem;
      font-weight: 400;
      font-family: 'Comfortaa', cursive; }

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 0 4rem 0;
  padding: 5% 0 0 0;
  color: #424242;
  font-family: 'Comfortaa', cursive;
  font-weight: 300;
  font-size: .9rem;
  line-height: 1.3rem; }
  .content .headerBig {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    width: 20%;
    height: 8.8rem;
    margin: 2rem 4% 0 0;
    padding: .4rem 0 .8rem 0;
    color: #585858;
    font-family: 'Glory', sans-serif;
    line-height: 1.4rem;
    border-bottom: 1px solid #d4d4d4; }
    .content .headerBig .company {
      width: 100%;
      padding-bottom: 1rem;
      font-family: 'Comfortaa', cursive;
      font-weight: 400;
      font-size: 1.2rem;
      text-align: right; }
    .content .headerBig .firmAddress,
    .content .headerBig .firmTown {
      width: 100%;
      margin: 0 0;
      padding: 0 0;
      color: #969696;
      font-weight: 300;
      font-size: .9rem;
      text-align: right; }
    .content .headerBig .tav {
      width: 100%;
      padding: 10% 0 0 0;
      font-size: .9rem;
      font-weight: 300;
      text-align: right; }
      .content .headerBig .tav span {
        font-size: .8rem;
        font-weight: 400;
        font-family: 'Comfortaa', cursive; }
  .content .letter {
    width: 64%;
    margin: 1.5rem 0 0 0;
    padding: .4rem 2% 0 4%;
    border-left: 1px solid #d4d4d4; }
    .content .letter .text .addressment {
      padding: 0 0 1.2rem 0; }
    .content .letter .text .paragraph {
      padding: 0 0 .5rem 0; }
    .content .letter .greatings {
      padding: .8rem 0 0 0; }
      .content .letter .greatings .myName {
        padding: .25rem 0 0 0;
        font-size: .95rem; }
      .content .letter .greatings .telSmall_link {
        display: none;
        font-family: 'Glory', sans-serif;
        text-decoration: none; }
        .content .letter .greatings .telSmall_link .telSmall {
          padding: 0 0;
          color: #338fd5;
          font-size: 1rem;
          font-weight: 200;
          word-spacing: -1px; }
          .content .letter .greatings .telSmall_link .telSmall span {
            margin-left: .2rem;
            font-size: .8rem; }

.myInfo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3rem;
  margin: 1rem 0 0 0;
  padding: .3rem 5% 0 5%;
  background: #e6e6e6;
  border-top: 1px solid #e1e1e1;
  z-index: 1; }
  .myInfo .titleRow,
  .myInfo .infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 1rem;
    margin: 0 0;
    padding: 0 0; }
  .myInfo .titleRow {
    padding: 0 0 .2rem 0;
    border-bottom: 1px solid rgba(18, 98, 120, 0.6); }
    .myInfo .titleRow .mail,
    .myInfo .titleRow .tel,
    .myInfo .titleRow .portfolio {
      width: 36%;
      margin: 0 auto;
      padding: 0 0;
      color: #1c5a6b;
      font-family: 'Jura', sans-serif;
      font-size: .9rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-align: right; }
    .myInfo .titleRow .mail {
      text-align: left; }
    .myInfo .titleRow .tel {
      width: 28%; }
  .myInfo .infoRow {
    padding: .1rem 0 .4rem 0; }
    .myInfo .infoRow .myMail,
    .myInfo .infoRow .myTel,
    .myInfo .infoRow .myPF {
      width: 31%;
      margin: 0 0;
      padding: .2rem 0;
      font-family: 'Glory', sans-serif;
      font-weight: 200;
      font-size: 1rem;
      text-align: right; }
    .myInfo .infoRow .myMail {
      text-align: left; }
    .myInfo .infoRow .myTel {
      width: 28%;
      padding-top: .37rem;
      font-size: .9rem; }
    .myInfo .infoRow a {
      width: 100%;
      color: #338fd5;
      text-decoration: none; }

@media (max-width: 870px) {
  .pageHeader .name,
  .pageHeader .function {
    animation: none; }

  .headerSmall {
    display: flex; }

  .content {
    padding: 0 0; }
    .content .letter {
      margin: 0 0;
      animation: none; }

  .content .headerBig {
    display: none; }

  .content .letter {
    width: 100%;
    padding-top: 3rem;
    border-top: 1px solid #d4d4d4; } }
@media (max-width: 520px) {
  .myInfo .titleRow .mail {
    width: 34%; }
  .myInfo .titleRow .tel {
    width: 28%; }
  .myInfo .titleRow .portfolio {
    width: 40%; }
  .myInfo .infoRow .myMail {
    width: 34%; }
  .myInfo .infoRow .myTel {
    width: 28%;
    padding-top: .35rem; }
  .myInfo .infoRow .myPF {
    width: 40%; } }
@media (max-width: 480px) {
  .content .letter .greatings .telSmall_link {
    display: inline; }

  .myInfo .titleRow .mail {
    width: 40%;
    padding: 0 0; }
  .myInfo .titleRow .portfolio {
    width: 60%;
    padding: 0 0; }
  .myInfo .titleRow .tel {
    display: none; }
  .myInfo .infoRow .myMail {
    width: 40%;
    font-size: .9rem; }
  .myInfo .infoRow .myPF {
    width: 60%; }
  .myInfo .infoRow .myTel {
    display: none; } }

/*# sourceMappingURL=stylesheet.css.map */
