* {
  margin: 0 0;
  padding: 0 0; }

body {
  width: 90%;
  margin: auto;
  padding: 2% 5%;
  background: #e8e8e8; }

.pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  margin: 0 0;
  padding: .4rem 5% .45rem 5%;
  color: #1c5a6b;
  font-family: 'Jura', sans-serif;
  background: #e6e6e6;
  border-bottom: 1px solid #e1e1e1;
  z-index: 1; }
  .pageHeader .name {
    padding: 0 0 .1rem 0;
    font-size: 1rem;
    font-weight: 600; }
  .pageHeader .lineUnder {
    width: 100%;
    height: 1px;
    background: rgba(18, 98, 120, 0.6); }
  .pageHeader .function {
    padding: .1rem 0 0 0;
    font-size: .55rem;
    font-weight: 600;
    text-align: right; }

.content {
  margin: 6rem 0 0 0; }
  .content p {
    color: #585858; }
  .content .section_title {
    width: 100%;
    margin: 2rem 0 0 0;
    border-bottom: 1px solid rgba(28, 90, 107, 0.4);
    border-left: 1px solid rgba(28, 90, 107, 0.4); }
    .content .section_title h3 {
      margin: 0 0 .3rem 1rem;
      color: #1c5a6b;
      font-family: 'Jura', sans-serif;
      font-size: 1.1rem;
      font-weight: 800; }
  .content .chapters {
    width: 100%;
    padding: .68rem 0 .2rem 0;
    border-right: 1px solid rgba(28, 90, 107, 0.4); }
  .content .contact_box .mail_box,
  .content .contact_box .address_box,
  .content .contact_box .phone_box,
  .content .contact_box .linkedin_box,
  .content .contact_box .portfolio_box {
    width: 96%;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: .8rem; }
  .content .contact_box .sub_title {
    display: inline-block;
    min-width: 4.8rem;
    color: #2d7e94;
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    font-weight: 500; }
  .content .contact_box .text_box {
    display: inline-flex;
    flex-direction: column;
    margin: .2rem 0 0 0; }
  .content .contact_box .phones {
    flex-direction: row; }
  .content .contact_box a, .content .contact_box p {
    margin: 0 .4rem .2rem 0; }
  .content .contact_box a {
    color: #338fd5;
    text-decoration: none; }
  .content .aboutme_box .me_box {
    width: 96%;
    margin: 0 auto; }
    .content .aboutme_box .me_box .text_part {
      margin-bottom: .3rem;
      font-family: 'Comfortaa', cursive;
      font-weight: 400;
      font-size: .85rem;
      line-height: 1.1rem; }
  .content .school_box .becode_box,
  .content .school_box .encora_box,
  .content .school_box .online_box,
  .content .school_box .science_box {
    width: 96%;
    margin: .4rem auto;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: .8rem; }
  .content .school_box .sub_title,
  .content .school_box .school_name {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500; }
  .content .school_box .sub_title {
    display: inline-block;
    min-width: 5.3rem;
    color: #2d7e94;
    font-size: .9rem; }
  .content .school_box .school_name {
    display: inline-block;
    color: #585858;
    font-size: 1rem; }
  .content .school_box .text_box {
    margin: .2rem 0 0 0; }
  .content .skills_box .operating_box,
  .content .skills_box .web_box,
  .content .skills_box .design_box {
    width: 96%;
    margin: .4rem auto;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: .8rem; }
  .content .skills_box .sub_title {
    display: inline-block;
    min-width: 8.8rem;
    color: #2d7e94;
    font-family: 'Fredoka', sans-serif;
    font-size: 1rem;
    font-weight: 500; }
  .content .skills_box .text_box {
    display: flex;
    flex-direction: column;
    margin: .2rem 0 0 0; }
  .content .skills_box p {
    margin: 0 .4rem .2rem 0; }

@media (min-width: 442px) {
  .content .contact_box .text_box {
    flex-direction: row; }
    .content .contact_box .text_box a, .content .contact_box .text_box p {
      margin: 0 .4rem 0 0; } }
@media (min-width: 666px) {
  .content .skills_box .text_box {
    display: inline-flex; } }
@media (min-width: 984px) {
  .content .school_box .text_box {
    display: inline-block; } }

/*# sourceMappingURL=stylesheet_cv.css.map */
