* {
    margin: 0 0;
    padding: 0 0;
}
body {
    width: 90%;
    margin: auto;
    padding: 2% 5%;
    background: rgb(232, 232, 232);
}
.pageHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 0;
    padding: .4rem 5% .45rem 5%;
    color: #1c5a6b;
    font-family: 'Jura', sans-serif;
    background: rgb(226, 226, 226);
    border-bottom: 1px solid rgb(220, 220, 220);
    z-index: 1;
    
    .name_cv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 0 0 .1rem 0;

        .name {
            font-size: 1.3rem;
            font-weight: 600;
        }
        .cv {
            color: rgb(88,88,88);
            font-size: .9rem;
            font-weight: 400;
        }
    }
    .lineUnder {
        width: 100%;
        height: 1px;
        background: rgba(18, 98, 120, 0.6);
    }
    .function {
        padding: .1rem 0 0 0;
        font-size: .55rem;
        font-weight: 600;
        text-align: right;
    }
}
.content {
    margin: 6rem 0 0 0;

    p {
        color: rgb(88,88,88);
    }

    .section_title {
        width: 100%;
        margin: 2rem 0 0 0;
        border-bottom: 1px solid rgba(28, 90, 107, 0.4);
        border-left: 1px solid rgba(28, 90, 107, 0.4);

        h3 {
            margin: 0 0 .3rem .6rem;
            color: #1c5a6b;
            font-family: 'Jura', sans-serif;
            font-size: 1.1rem;
            font-weight: 800;
        }
    }
    .chapters {
        width: 100%;
        padding: .68rem 0 .2rem 0;
        border-right: 1px solid rgba(28, 90, 107, 0.4);
    }
    .contact_box {
        margin: 0 auto 3rem auto;

        .mail_box,
        .address_box,
        .phone_box,
        .linkedin_box,
        .portfolio_box {
            width: 96%;
            margin: .2rem auto;
            font-family: 'Comfortaa', cursive;
            font-weight: 400;
            font-size: .8rem;
        }
        .sub_title {
            display: inline-block;
            min-width: 4.8rem;
            color: #2d7e94;
            font-family: 'Fredoka', sans-serif;
            font-size: 1rem;
            font-weight: 500;
        }
        .text_box {
            display: inline-flex;
            flex-direction: column;
            margin: .2rem 0 0 0;
        }
        .phones {
            flex-direction: row;
        }
        a, p {
            margin: 0 .4rem .2rem 0;
        }
        a {
            color: rgb(51, 143, 213);
            text-decoration: none;
        }
    }
    .aboutme_box {
        margin: 0 auto 3rem auto;

        .me_box {
            display: flex;
            flex-direction: row;
            width: 96%;
            margin: .4rem auto;

            .aside_photo {
                display: none;
                width: 7rem;
                height: 8.8rem;
                margin-right: .4rem;
                border: 1px solid rgb(180,180,180);
            }
            .text_box {
                width: 100%;
                max-width: 750px;

                .text_part {
                    .inline_photo {
                        display: inline;
                        float: left;
                        width: 32%;
                        max-width: 7rem;
                        margin-right: .4rem;
                        border: 1px solid rgb(180,180,180);
                    }
                    margin-bottom: .3rem;
                    font-family: 'Comfortaa', cursive;
                    font-weight: 400;
                    font-size: .85rem;
                    line-height: 1.1rem;
                }
            }
        }
    }
    .school_box {
        margin: 0 auto 3rem auto;

        .becode_box,
        .encora_box,
        .online_box,
        .science_box {
            width: 96%;
            margin: .4rem auto;
            font-family: 'Comfortaa', cursive;
            font-weight: 400;
            font-size: .8rem;
        }
        .encora_box,
        .online_box {
            margin: .8rem auto;
        }
        .sub_title,
        .school_name {
            font-family: 'Fredoka', sans-serif;
            font-weight: 500;
        }
        .sub_title {
            display: inline-block;
            min-width: 5.3rem;
            color: #2d7e94;
            font-size: .9rem;
        }
        .school_name {
            display: inline-block;
            color: rgb(88,88,88);
            font-size: 1rem;
        }
        .text_box {
            margin: .2rem 0 0 0;
        }
    }
    .skills_box {
        margin: 0 auto 3rem auto;

        .operating_box,
        .web_box,
        .design_box {
            width: 96%;
            margin: .4rem auto;
            font-family: 'Comfortaa', cursive;
            font-weight: 400;
            font-size: .8rem;
        }
        .web_box {
            margin: .8rem auto;
        }
        .sub_title {
            display: inline-block;
            min-width: 8.8rem;
            color: #2d7e94;
            font-family: 'Fredoka', sans-serif;
            font-size: 1rem;
            font-weight: 500;
        }
        .text_box {
            display: flex;
            flex-direction: column;
            margin: .2rem 0 0 0;

            .skills_list {
                list-style: none;
                //list-style-type: square;
                list-style-image: url();
                color: rgb(88,88,88);

                li {
                    display: flex;
                    flex-direction: row;
                    margin: .2rem 0 0 0;
                }

                .list_square {
                    width: .5rem;
                    height: .5rem;
                    margin: .25rem .4rem 0 0;
                    opacity: .8;
                }
            }
        }
        p {
            margin: 0 .4rem .2rem 0;
        }
    }
    .softSkills_box {
        margin: 0 auto 3rem auto;

        .skills_list_box {
            display: flex;
            flex-direction: column;
            width: 96%;
            margin: .4rem auto;

            .skills_list {
                list-style: none;
                //list-style-type: square;
                list-style-image: url();
                color: rgb(88,88,88);

                li {
                    display: flex;
                    flex-direction: row;
                    margin: .2rem 0 0 0;
                }

                .list_square {
                    width: .5rem;
                    height: .5rem;
                    margin: .25rem .4rem 0 0;
                    opacity: .8;
                }
            }
        }
        p {
            margin: 0 .4rem .2rem 0;
            color: rgb(88,88,88);
            font-family: 'Comfortaa', cursive;
            font-size: .8rem;
        }
    }
    .languages_box {
        margin: 0 auto 3rem auto;

        .table_box {
            padding: .4rem 0 .2rem 0;

            .languages_table {
                width: 94%;
                max-width: 800px;
                margin: .4rem 0 0 .6rem;
                border-collapse: collapse;

                th, td {
                    width: 33%;

                    p {
                        min-width: 5.5rem;
                        text-align: center;
                    }
                }
                th {
                    border-bottom: 1px solid rgba(gray, .6);

                    p {
                        padding: 0 0 .2rem 0;
                        color: #2d7e94;
                        font-family: 'Fredoka', sans-serif;
                        font-weight: 400;
                    }
                }
                td {
                    p {
                        padding: .4rem 0 0 0;
                        color: rgb(88,88,88);
                        font-family: 'Comfortaa', cursive;
                        font-size: .9rem;
                        font-weight: 600;
                    }
                }
                .middle {
                    border-right: 1px solid rgba(gray, .2);
                    border-left: 1px solid rgba(gray, .2);
                }
            }
        }
    }
    .work_box {
        .woonpunt_box,
        .editor_box,
        .museum_box {
            width: 96%;
            margin: .4rem auto;
            font-family: 'Comfortaa', cursive;
            font-weight: 400;
            font-size: .8rem;
        }
        .editor_box {
            margin: .8rem auto;
        }
        .sub_title,
        .work_name {
            font-family: 'Fredoka', sans-serif;
            font-weight: 500;
        }
        .sub_title {
            display: inline-block;
            min-width: 5.3rem;
            color: #2d7e94;
            font-size: .9rem;
            //border-right: 1px solid rgba(#2d7e94, .4);
        }
        .work_name {
            display: block;
            color: rgb(88,88,88);
            font-size: 1rem;
        }
        .text_box {
            margin: .2rem 0 0 0;

            .work_list {
                list-style: none;
                //list-style-type: square;
                list-style-image: url();
                color: rgb(88,88,88);

                li {
                    display: flex;
                    flex-direction: row;
                    margin: .2rem 0 0 0;
                }

                .list_square {
                    width: .5rem;
                    height: .5rem;
                    margin: .25rem .4rem 0 0;
                    opacity: .8;
                }
            }
        }
    }
    .hobby_box {
        margin: 0 auto 3rem auto;

        .hobbies_box {
            display: flex;
            flex-direction: column;
            width: 96%;
            margin: .4rem auto;

            .hobbies_list {
                list-style: none;
                //list-style-type: square;
                list-style-image: url();
                color: rgb(88,88,88);

                li {
                    display: flex;
                    flex-direction: row;
                    margin: .2rem 0 0 0;
                }

                .list_square {
                    width: .5rem;
                    height: .5rem;
                    margin: .25rem .4rem 0 0;
                    opacity: .8;
                }
            }
        }
        p {
            margin: 0 .4rem .2rem 0;
            color: rgb(88,88,88);
            font-family: 'Comfortaa', cursive;
            font-size: .8rem;
        }
    }
}
.myInfo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 2.4rem;
    margin: 1rem 0 0 0;
    padding: .2rem 5% 0 5%;
    background: rgb(226, 226, 226);
    border-top: 1px solid rgb(220, 220, 220);
    z-index: 1;

    .titleRow, 
    .infoRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 1rem;
        margin: 0 0;
        padding: 0 0;
    }
    .titleRow {
        padding: 0 0 .1rem 0;
        border-bottom: 1px solid rgba(18, 98, 120, 0.6);

        .mail,
        .portfolio {
            width: 50%;
            margin: 0 auto;
            padding: 0 0;
            color: #1c5a6b;
            font-family: 'Jura', sans-serif;
            font-size: .8rem;
            font-weight: 800;
            letter-spacing: 1px;
            text-align: right;
        }
        .mail {
            text-align: left;
        }
        .tel {
            width: 28%;
        }
    }
    .infoRow {
        padding: 0 0;

        .myMail,
        .myPF {
            width: 50%;
            margin: 0 0;
            padding: .2rem 0;
            font-family: 'Comfortaa', cursive;
            font-weight: 200;
            font-size: .6rem;
            text-align: right;
        }
        .myMail {
            text-align: left;
        }
        .myTel {
            width: 28%;
            padding-top: .37rem;
            font-size: .9rem;
        }
        a {
            width: 100%;
            color: rgb(51, 143, 213);
            text-decoration: none;
        }
    }
}


@media (min-width: 340px) {
    .content .aboutme_box .me_box .text_box .text_part {
        .inline_photo {
            width: 29%;
        }
    }
}
@media (min-width: 350px) {
    .content .aboutme_box .me_box .text_box .text_part {
        .inline_photo {
            width: 28%;
        }
    }
}
@media (min-width: 370px) {
    .content .aboutme_box .me_box .text_box .text_part {
        .inline_photo {
            width: 26%;
        }
    }
}
@media (min-width: 442px) {
    .content .contact_box .text_box {
        flex-direction: row;

        a, p {
            margin: 0 .4rem 0 0;
        }
    }
    .content .aboutme_box .me_box .text_box .text_part {
        .inline_photo {
            width: 24.5%;
        }
    }
    .content .work_box .work_name {
        display: inline-block;
    }
}
@media (min-width: 460px) {
    .content .aboutme_box .me_box .text_box .text_part {
        .inline_photo {
            width: 23.5%;
        }
    }
}
@media (min-width: 540px) {
    .content .aboutme_box .me_box .text_box .text_part {
        .inline_photo {
            width: 20%;
        }
    }
}
@media (min-width: 684px) {
    .content .aboutme_box .me_box .aside_photo {
        display: inline-block;
        
    }
    .content .aboutme_box .me_box .text_box .text_part {
        .inline_photo {
            display: none;
        }
    }
    .content .skills_box .text_box {
        display: inline-flex;
    }
}
@media (min-width: 984px) {
    .content .school_box .text_box {
        display: inline-block;
    }
}