* {
    margin: 0 0;
    padding: 0 0;
}

$green: #0c7b85;
$darkgreen: #0d5a6b;
$lightgreen: #0c9ea8;
$darkred : #7d0000;
$orange: #ffb805;
$gray: #707070;
$darkgray: #555555;
$linkColor: #1488b3;

$darkBorder: 1px solid rgba($darkgreen, .6);
$lightBorder: 1px solid rgba($green, 0.4);

$shadow: -1px -1px 2px 0 rgba($gray, .2), -1px 1px 2px 0 rgba($gray, .2);
$insetShadow: inset 2px 2px 3px 0 rgba($darkgray, .2), inset -2px -2px 3px 0 rgba($darkgray, .2);

body {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 0 0;
    background: rgba($gray, .05);
    cursor: pointer;
}

.navbar {
    position: fixed;
    width: 100%;
    max-width: 1280px;
    top: 0;
    margin: 0 auto;
    padding: 0 0;
    background: white;
    border-bottom: $darkBorder;
    z-index: 10;
    overflow: visible;

    .selectdrop {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1280px;
        margin: 0 0;
        padding: 0 0;
        cursor: grab;

        .nav_link {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 33.3333%;
            height: 1rem;
            max-height: 1rem;
            margin: 0 0;
            padding: .1rem 0;
            text-decoration: none;

            .icon {
                height: 15px;
                max-height: 15px;
                margin: .14rem .4rem 0 1.2rem;
                background: white;
                border-radius: 3px;
                opacity: 0;
            }
            .nav_text {
                margin: .06rem 0 0 0;
                color: $linkColor;
                font-size: .65rem;
                font-weight: 400;
                line-height: 16px;
            }
            .linkedin_icon {
                height: 17px;
                max-height: 17px;
                margin: .09rem .4rem 0 .4rem;
            }
            .cv_icon {
                width: 20px;
                height: 18px;
                max-height: 18px;
                background: transparent;
                margin: .02rem .4rem 0 .4rem;
            }
            &:hover {
                background: rgba($darkgreen, .1);

                .icon {
                    opacity: 1;
                    transition: opacity .1s ease-in;
                }
                .nav_text {
                    color: $darkgreen;
                }
            }
        }
    }

    //------- NAV Dropdowns -------
    .dropdownBackground {
        position: absolute;
        display: flex;
        justify-content: center;
        //width: 2rem;
        //height: 2rem;
        opacity: 0;
        background: $darkgreen;
        border: 1px solid $darkgreen;
        transition: all .3s, opacity .1s, transform .2s;
        transform-origin: 50% 0;
        z-index: 10;

        &.open {
            opacity: 1;
        }
        .droparrow {
            position: absolute;
            width: 1rem;
            height: 1rem;
            display: block;
            background: $darkgreen;
            border-left: 1px solid $darkgreen;
            border-top: 1px solid $darkgreen;
            //box-shadow: $insetShadow;
            transform: translateY(-50%) rotate(45deg);
            z-index: -2;
        }
    }
    .dropdown {
        display: block;
        opacity: 1;
        position: absolute;
        overflow: hidden;
        top: -3.5rem;
        padding: .8rem 1rem;
        margin-left: 2rem;
        border-radius: 2px;
        transition: all 0.5s;
        transform: translateY(86px);
        will-change: opacity;
        display: none;
        z-index: 10;

        .check_out  {
            color: white;
            font-size: .8rem;
            font-weight: 300;
            letter-spacing: .2rem;
            line-height: 1.4rem;
            text-align: center;

            span {
                color: $orange;
                font-weight: 400;
                text-shadow: none;
            }
        }
    }
    .trigger-enter .dropdown {
        display: block;
    }
    .trigger-enter-active .dropdown {
        opacity: 1;
    }
}

.page_header {
    position: sticky;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0;
    top: 0;
    background: white;
    cursor: grab;
    z-index: 4;

    .header_bg {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 1.8rem 0 0 0;
        background: rgba($gray, .05);
        z-index: 4;
    }
}
.header_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 96%;
    max-width: 96%;
    height: 5.8rem;
    margin: 0 auto;
    padding: 0 0;
    background: rgba($darkgreen, 0.3);
    border: $darkBorder;
    box-shadow: $insetShadow;
    animation: titleSlideIn 2s ease-in-out;
    z-index: 4;

    .header_flex {
        display: flex;
        flex-direction: row;
        width: 96%;
        max-width: 96%;
        height: 4rem;
        margin: 0 0;
        padding: 0 0;
        background: white;
        border: $darkBorder;
        border-right: none;
        box-shadow: $shadow;

        .page_subtitle {
            display: none;
            width: 60%;
            margin: 0 0 0 1rem;
            padding: .4rem 0;
            text-align: end;
            letter-spacing: 1px;

            .function {
                width: 96%;
                margin: 0 0;
                margin: 0 0 0 0;
                padding: 0 0;
                color: $darkgray;
                font-family: 'Genos', sans-serif;
                font-size: 2rem;
                font-size: 1.3rem;
                font-weight: 600;
                letter-spacing: 2px;
                text-shadow: 0 0 3px rgb(255, 255, 255);
            }
        }
        .page_title {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding: .4rem 0;
            text-align: end;
            letter-spacing: 1px;
        
            .name {
                width: 96%;
                margin: 0 0;
                padding: 0 0;
                color: $green;
                font-family: 'Jura', sans-serif;
                font-size: 1.3rem;
                font-weight: 700;
                text-shadow: 0 0 3px rgb(255, 255, 255);
            }
            .function {
                width: 96%;
                margin: 0 0;
                margin: .2rem 0 0 0;
                padding: 0 0;
                color: $darkgray;
                font-family: 'Genos', sans-serif;
                font-size: 2rem;
                font-size: 1rem;
                font-weight: 600;
                //letter-spacing: 2px;
                text-shadow: 0 0 3px rgb(255, 255, 255);
            }
        }
    }
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 1rem auto;
    padding: 6% 0;
    color: $darkgray;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.3rem;
    z-index: 0;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 96%;
        max-width: 96%;
        margin: 10% auto 0 auto;
        padding: 0 0;

        .company_box {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 70%;
            max-width: 70%;
            height: 10.5rem;
            margin: 0 0 0 auto;
            padding: 2% 0 0 0;
            background: rgba(140, 163, 163, 0.08);
            border: $darkBorder;
            border-bottom: none;
            box-shadow: $insetShadow;
    
            .company {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                align-content: flex-end;
                width: 96%;
                max-width: 96%;
                margin: 0 0;
                padding: .4rem 0 .4rem 0;
                font-family: 'Glory', sans-serif;
                line-height: 1.55rem;
                background: white;
                border: $lightBorder;
                border-right: none;
                border-bottom: none;
                box-shadow: $shadow;

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    align-content: flex-end;
                    width: 92%;
                    max-width: 92%;
                    margin: 0 auto;
                    padding: .8rem 0;
                    line-height: 1.3rem;
        
                    .company_name {
                        width: 100%;
                        padding-bottom: 1rem;
                        color: rgb(88, 88, 88);
                        font-family: 'Comfortaa', cursive;
                        font-weight: 400;
                        font-size: 1.2rem;  
                        text-align: right;
                    }
                    .company_address, 
                    .company_town {
                        width: 100%;
                        margin: 0 0;
                        padding: 0 0;
                        color: rgb(150, 150, 150);
                        font-weight: 300;
                        font-size: .9rem;
                        text-align: right;
                    }
                    .tav {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-content: flex-end;
                        width: 90%;
                        max-width: 90%;
                        margin: .8rem 0 0 0;
                        padding: 0 0;
                        color: rgb(150, 150, 150);
                        font-size: .9rem;
                        font-weight: 300;           
                        text-align: right;
                    }
                    .name {
                        margin: 0 0;
                        color: rgb(88, 88, 88);
                        font-family: 'Comfortaa', cursive;
                        font-size: .8rem; 
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .article {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 96%;
        max-width: 96%;
        margin: 0 auto;
        padding: 0 0;
        z-index: 0;

        .letter_box {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100%;
            max-width: 100%;
            margin: 0 0;
            padding: 2% 0;
            background: rgba(140, 163, 163, 0.08);
            border: $darkBorder;
            box-shadow: $insetShadow;
            z-index: 0;
    
            .letter {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                width: 98%;
                max-width: 98%;
                margin: 0 0;
                padding: .8rem 0;
                background: white;
                border: $lightBorder;
                border-right: none;
                box-shadow: $shadow;
                z-index: 0;
        
                .text {
                    width: 94%;
                    max-width: 94%;
                    margin: 0 auto;
                    padding: 1.2rem 0;
                    color: $darkgray;
                    font-family: 'Comfortaa', cursive;
                    font-size: .8rem; 
                    font-weight: 400;
                    line-height: 1.3rem;

                    .addressment {
                        padding: 0 0 1.2rem 0;
                        font-size: .8rem;
                    }
                    .paragraph {
                        padding: 0 0 .6rem 0;
                        font-size: .8rem;
                    }
                    .portfolio_link {
                        margin: 0 -.4rem 0 -.4rem;
                        padding: 0 .4rem .2rem .4rem;
                        color: rgba($linkColor,.8);
                        font-family: 'Fredoka', sans-serif;
                        font-size: 1.15rem;
                        font-weight: 400;
                        text-decoration: none;
                        border-radius: 5px;
                        //border: 1px dotted rgba($linkColor,.6);

                        &:hover {
                            color: white;
                            background: rgba($linkColor,.4);
                        }
                    }
                }
                .greatings {
                    width: 94%;
                    max-width: 94%;
                    margin: 0 auto;
                    padding: .8rem 0 0 0;
        
                    .myName {
                        margin: 0 0 1rem 0;
                        padding: 0 0;
                        font-size: .8rem;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) {
    .navbar .selectdrop .nav_link {
        .nav_text {
            font-size: .7rem;
        }
    }
}
@media (min-width: 428px) {
    .navbar .selectdrop .nav_link {
        .nav_text {
            font-size: .75rem;
        }
    }
}
@media (min-width: 600px) {
    .navbar .selectdrop .nav_link {
        justify-content: center;

        .nav_text {
            font-size: .85rem;
        }
    }
    .page_header .header_bg .header_content {
        width: 92%;
        max-width: 92%;
    }
    .main {
        .header {
            width: 92%;
            max-width: 92%;
            margin: 6% auto 0 auto;

            .company_box {
                width: 50%;
                max-width: 50%;
                height: 11.5rem;

                .company {
                    width: 96%;
                    max-width: 96%;
                    margin: 0 0;
                    padding: .6rem 0 0 0;

                    .text {
                        margin: 0 1.8rem 0 0;
                    }
                }
            }
        }
        .article {
            width: 92%;
            max-width: 92%;
            padding: 0 0;
            margin: 0 auto;

            .letter_box {
                width: 100%;
                max-width: 100%;

                .letter {
                    width: 97.5%;
                    max-width: 97.5%;

                    .text {
                        width: 90%;
                        max-width: 90%;
                        margin: 0 auto;
                    }
                    .greatings {
                        width: 90%;
                        max-width: 90%;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .page_header .header_bg .header_content {
        width: 93%;
        max-width: 93%;

        .header_flex {
            .page_subtitle {
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;

                .function {
                    padding: .05rem .6rem 0 0;
                    color: $gray;
                    transform: scaleY(130%);
                }
            }
            .page_title {
                flex-direction: row;
                align-items: center;
                width: 38%;
                text-align: start;

                .name {
                    font-size: 1.8rem;
                }
                .function {
                    display: none;
                }
            }
        }
    }
    .main {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        padding: 0 0;

        .header {
            width: 35%;
            max-width: 35%;
            margin: 4.5% -.4rem 0 .4rem;

            .company_box {
                width: 89%;
                max-width: 89%;
                height: 12rem;
                margin: .15rem 0 0 auto;
                padding: 3.5% 0;
                border: 1px solid rgba(28, 48, 48, 0.4);
                border-right: none;

                .company {
                    width: 95.25%;
                    max-width: 95.25%;
                    padding: 7% 0 0 0;
                    border: 1px solid rgba(28, 90, 107, 0.4);
                    border-right: none;

                    .text {
                        align-items: flex-end;
                        align-content: flex-end;
                        width: 98%;
                        max-width: 98%;
                        margin: 0 1rem 0 0;
                        line-height: 1.4rem;
                    }
                }
            }
        }
        .article {
            justify-content: flex-start;
            width: 65%;
            max-width: 65%;

            .letter_box {
                justify-content: flex-start;
                width: 92.5%;
                max-width: 95.5%;
                box-shadow: inset -2px 2px 3px 0 rgba(43, 73, 73, 0.2), inset -2px -2px 3px 0 rgba(43, 73, 73, 0.2);

                .letter {
                    width: 98%;
                    max-width: 98%;
                    border-left: none;
                    box-shadow: 1px 1px 2px 0 rgba(119, 140, 166, 0.4), 1px -1px 2px 0 rgba(119, 140, 166, 0.4);
                }
            }
        }
    }
}
@media (min-width: 800px) {
    .navbar .selectdrop .nav_link {
        .nav_text {
            font-size: .9rem;
        }
    }
    .main {
        .header {
            width: 35%;
            max-width: 35%;
            padding: 1.2rem 0;

            .company_box {
                width: 87.5%;
                max-width: 87.5%;
                margin: .8rem 0 0 0;

                .company {
                    width: 91.5%;
                    max-width: 91.5%;

                    .text {
                        width: 96%;
                        max-width: 96%;
                        margin: 0 1rem 0 0;

                        .company_address, 
                        .company_town {
                            font-size: 1rem;
                        }
                        .tav {
                            font-size: 1rem;

                            span {
                                font-size: .9rem; 
                            }
                        }
                    }
                }
            }
        }
        .article {
            justify-content: flex-start;
            width: 65%;
            max-width: 65%;
            padding: 1.2rem 0;

            .letter_box {
                width: 92.5%;
                max-width: 95.5%;
                padding: 1.2rem 0;

                .letter {
                    width: 96%;
                    max-width: 96%;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .navbar .selectdrop .nav_link {
        .nav_text {
            font-size: .9rem;
        }
    }
    .page_header .header_bg .header_content {
        height: 6.4rem;
        width: 90%;
        max-width: 90%;

        .header_flex {
            height: 4.4rem;

            .page_subtitle {
                width: 60%;

                .function {
                    padding: .5rem .8rem 0 0;
                    font-size: 1.5rem;
                    transform: scaleY(130%);
                }
            }
            .page_title {
                width: 38%;

                .name {
                    font-size: 2.4rem;
                    transform: scaleY(110%);
                }
                .function {
                    display: none;
                }
            }
        }
    }
    .main {
        padding: 0 0 0 0;

        .header {
            width: 35%;
            max-width: 35%;
            padding: .65rem 0 0 0;

            .company_box {
                width: 80%;
                max-width: 80%;
                height: 13.3rem;
                margin: 0 0 0 0;

                .company {
                    width: 95%;
                    max-width: 95%;

                    .text {
                        width: 94%;
                        max-width: 94%;
                        margin: 0 2rem 0 0;
                    }
                }
            }
        }
        .article {
            width: 65%;
            max-width: 65%;
            padding: 1.2rem 0;

            .letter_box {
                width: 90%;
                max-width: 90%;
                padding: 1.8% 0;

                .letter {
                    width: 98%;
                    max-width: 98%;

                    .text {
                        width: 90%;
                        max-width: 90%;
                    }
                }
            }
        }
    }
}
@media (min-width: 1280px) {
    .main {
        justify-content: center;
        margin: 0 0;
        padding: 0 0 0 0;

        .header {
            width: 30%;
            max-width: 30%;
            padding: 0 0;
            margin: 2.05rem -.2rem 0 auto;

            .company_box {
                width: 80%;
                max-width: 80%;
                height: 13.3rem;
                margin: 0 0 0 0;
                padding: 2rem 0;

                .company {
                    width: 94%;
                    max-width: 94%;
                }
            }
        }
        .article {
            width: 70%;
            max-width: 70%;
            margin: 0 -.35rem 0 0;
            padding: 0 0;
            z-index: 2;

            .letter_box {
                width: 90%;
                max-width: 90%;
                padding: 2rem 0;

                .letter {
                    width: 97.5%;
                    max-width: 97.5%;

                    .text,
                    .greatings {
                        width: 92%;
                        max-width: 92%;
                        margin-top: 0;
                        line-height: 1.35rem;
                    }
                    .text .addressment,
                    .text .paragraph {
                        font-size: .9rem;
                    }
                    .greatings {
                        padding: .8rem 0 0 0;

                        .myName {
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 1282px) {
    .navbar {
        border-right: $darkBorder;
        border-left: $darkBorder;
        border-bottom-right-radius: 28px;
        border-bottom-left-radius: 28px;

        .selectdrop {
            border-bottom-right-radius: 28px;
            border-bottom-left-radius: 28px;
            overflow: hidden;
        }
    }
}
@media (min-height: 667px) {
    .main {
        padding: 2% 0 2.1% 0;
    }
}
@media (min-height: 800px) {
    .navbar .selectdrop .nav_link {
        height: 1rem;
        max-height: 1rem;
        padding: .1rem 0 .2rem 0;
    }
    .page_header .header_bg {
        padding: 2rem 0 0 0;
    }
    .main {
        padding: 1.75% 0 0 0;
    }
}
@media (min-height: 900px) {
    .page_header .header_bg {
        padding: 2.5rem 0 0 0;
        /*
        .header_content {
            height: 6.4rem;

            .header_flex {
                height: 4.4rem;

                .page_title {
                    padding: 0 0 .7rem 0;
                }
            }
        }
        */
    }
    .main {
        padding: 4% 0 0 0;
    }
}
@media (min-height: 940px) {
    .main {
        padding: 5% 0 0 0;
    }
}
@media (min-height: 1024px) {
    .main {
        padding: 8% 0 0 0;

        .header .company_box,
        .article .letter_box {
            padding: 1.4rem 0;
        }
    }
}
@media (min-height: 1080px) {
    .main {
        padding: 10% 0 0 0;
    }
}
@media (min-width: 1024px) and (min-height: 1366px) {
    .main {
        padding: 8% 0 0 0;
    
        .header {
            width: 33%;
            max-width: 33%;
            margin: 3.5rem -1rem 0 auto;
            padding: 0 0;
    
            .company_box {
                width: 84%;
                max-width: 84%;
                height: 13.3rem;
                margin: 0 0 0 0;
                padding: 2rem 0;
            }
        }
        .article {
            width: 65%;
            max-width: 65%;
            padding: 1.2rem 0;

            .letter_box {
                width: 90%;
                max-width: 90%;
                padding: 2rem 0;

                .letter {
                    width: 98%;
                    max-width: 98%;

                    .text {
                        width: 90%;
                        max-width: 90%;
                    }
                }
            }
        }
    }
}