* {
    margin: 0 0;
    padding: 0 0;
}
body {
    width: 90%;
    margin: auto;
    padding: 2% 5%;
    background: rgb(232, 232, 232);  
}
header {
    width: 100%;
    margin: auto;
}
h1, h2 {
    padding: .2rem 0;
    color: #116177;
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}
h2 {
    padding: 0 0 .5rem 0;
    font-weight: 300;
}
h1 {
    padding: .4rem 0 0 0;
    font-size: 1.2rem;
    text-align: right;
}
.name {
    //animation: moveInLeft 3s forwards;
    animation: fadeIn 4s forwards;
}
.lineUnder {
    width: 100%;
    height: 1px;
    background: #116177;
    animation: fadeIn 4s forwards;
}
.function {
    //animation: moveInRight 3s forwards;
    animation: fadeIn 4s forwards;
}
.headerSmall {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    border-right: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    margin: 4rem 0 0 0;
    padding: .4rem 0;
    font-family: 'Fredoka', sans-serif;
    line-height: 1.4rem;
    animation: moveInLeftLarge 4s, fadeIn 4s;

    .company { 
        width: 100%;
        padding: 0 3% 2% 3%;
        font-weight: 300;
        font-size: 1.4rem;            
        text-align: right;
    }
    .firmAddress, 
    .firmTown {
        width: 100%;
        padding: 0 3%;
        font-weight: 300;
        font-size: .9rem;
        text-align: right;
    }
    .tav {
        width: 100%;
        padding: 3% 3% 0 0;
        font-size: .9rem;            
        text-align: right;

        span {
            font-size: 1rem; 
            font-weight: 300;
        }
    }
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5.5% 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.3rem;

    .headerBig {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: flex-end;
        width: 22%;
        height: 8.8rem;
        margin: 2rem 2% 0 0;
        padding: .4rem .4rem .4rem 0;
        border-bottom: 1px solid rgb(202, 202, 202);
        box-shadow: 0 1px 2px rgba(212, 212, 212, 0.6);
        animation: moveInLeft 4s, fadeIn 4s;

        .company {
            width: 100%;
            padding-bottom: 1rem;
            font-family: 'Fredoka', sans-serif;
            font-weight: 300;
            font-size: 1.4rem;
            text-align: right;
        }
        .firmAddress, 
        .firmTown {
            width: 100%;
            margin: 0 0;
            padding: 0 0;
            font-family: 'Fredoka', sans-serif;
            font-weight: 300;
            font-size: .9rem;
            text-align: right;
        }
        .tav {
            width: 100%;
            padding: 10% 0 0 0;
            font-size: .9rem;            
            text-align: right;

            span {
                font-size: 1rem; 
                font-weight: 300;
            }
        }
    }
    .letter {
        width: 64%;
        margin: 2rem 0 0 0;
        padding: .6rem 2%;
        border-left: 1px solid rgb(202, 202, 202);
        animation: moveInRight 4s forwards, fadeIn 4s forwards;

        .text {
            .addressment {
                padding: 0 0 1.6rem 0;
            }
            .paragraph {
                padding: 0 0 .8rem 0;
            }
        }
        .greatings {
            padding: 1.2rem 0 0 0;

            .myName {
                padding: .5rem 0 0 0;
            }
            .telSmall {
                display: none;
                padding: .6rem 0 0 0;
                font-size: .7rem;
                font-weight: 400;

                span {
                    margin-right: .2rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
.myInfo {
    width: 100%;
    margin: .2rem 0 0 0;
    padding: 0 0;
    animation: fadeIn 8s forwards;

    .titleRow, 
    .infoRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 1.2rem;
        margin: 0 0;
        padding: .4rem 0;
    }
    .titleRow {
        border-bottom: 1px solid #116177;

        .mail,
        .tel,
        .portfolio {
            width: 40%;
            margin: 0 auto;
            padding: 0 0;
            color: #116177;
            font-family: 'Fredoka', sans-serif;
            font-weight: 400;
            font-size: .9rem;
            text-align: right;
        }
        .mail {
            text-align: left;
        }
        .tel {
            width: 20%;
        }
    }
    .infoRow {
        .myMail,
        .myTel,
        .myPF {
            width: 40%;
            margin: 0 0;
            padding: .2rem 0;
            font-family: 'Comfortaa', cursive;
            font-weight: 300;
            font-size: .7rem;
            text-align: right;
        }
        .myMail {
            text-align: left;
        }
        .myTel {
            width: 20%;
        }
        a {
            width: 100%;
            color: rgb(29, 152, 186);
            text-decoration: none;
        }
    }
}

@media (max-width: 879px) {
    .pageHeader {
        .name,
        .function {
            animation: none;
        }
        animation: moveDown 2s forwards;
    }
    .headerSmall {
        opacity: 0;
        display: flex;
        animation: none;
        animation: fadeIn 3s forwards;
        animation-delay: 1.25s;
    }
    .content {
        opacity: 0;
        margin-bottom: 2rem;
        padding: 1rem 2% .8rem 2%;
        border-left: 1px solid lightgray;
        animation: none;
        animation: fadeIn 3s forwards;
        animation-delay: 1.25s;

        .letter {
            box-shadow: none;
            animation: none;
        }
    }
    .content .headerBig {
        display: none;
    }
    .content .letter {
        width: 100%;
        border-left: none;
    }
}

@media (max-width: 520px) {
    .myInfo {
        .titleRow {
            .mail {
                width: 36%;
            }
            .tel {
                width: 22%;
            }
            .portfolio {
                width: 44%;
            }
        }
        .infoRow {
            .myMail {
                width: 36%;
            }
            .myTel {
                width: 22%;
            }
            .myPF {
                width: 44%;
            }
        }
    }
}

@media (max-width: 440px) {
    .content .letter .greatings .telSmall {
        display: inline;
    }
    .myInfo {
        .titleRow {
            .mail {
                width: 40%;
                padding: 0 0;
            }
            .portfolio {
                width: 60%;
                padding: 0 0;
            }
            .tel {
                display: none;
            }
        }
        .infoRow {
            .myMail {
                width: 40%;
                font-size: .64rem;
            }
            .myPF {
                width: 60%;
                font-size: .64rem;
            }
            .myTel {
                display: none;
            }
        }
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-18rem);
    }
    20% {
        transform: translateX(-18rem);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveInRight {
    0% {
        transform: translateX(50rem);
    }
    20% {
        transform: translateX(50rem);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes moveDown {
    0% {
        transform: translateY(-6rem);
    }
    20% {
        transform: translateY(-6rem);
    }
    100% {
        transform: translateY(0);
    }
}